<h2>Spread the Word</h2>

<p>
  It would really help me out if you could spread the word about this wee
  project. The more people I know are interested, the more motivated I'll be to
  get on with it. Plus, if I can demonstrate that there's a good sized
  audience, perhaps some, err, higher profile developers might deign to talk to
  me, eh?
</p>

<p>
  You can help spread the word by liking and sharing and tweeting on your
  various social networks. I've attached some convenient buttons to this page.
  You can share the project on Twitter with this button:
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= config[:url] %>" data-text="<%= config[:long_title] %>" data-related="wossname,mathie" data-hashtags="howicode">Tweet</a>
  and you can like/share on Facebook here:
  <div class="fb-like" data-href="<%= config[:url] %>" data-width="450" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</p>

<p>
  Please do click 'em and tell your friends. Thank you, I really appreciate it! Oh, and follow me on Twitter while you're
  here, too:
  <a class="twitter-follow-button" href="https://twitter.com/wossname" data-show-count="false">Follow @wossname</a>
  <a class="twitter-follow-button" href="https://twitter.com/mathie" data-show-count="false">Follow @mathie</a>
</p>
