---
title: Rock Club
layout: coming_soon
category: Health &amp; Fitness
---
<h2>Coming Soon&hellip;</h2>

<p>
  Have you ever wondered how well you're climbing, how much better you're
  getting after all these sessions you're putting in at the local climbing
  wall? Is all that effort you've put in at the gym actually paying off in
  terms of achieving the 7a route you've been wanting to crack? Are you
  training towards a competition? Or would you just like some objective
  feedback that your climbing is improving?
</p>

<p>
  That's the main goal of this application. While you're at the climbing
  wall, you can take note of the climbs that you achieve each session. We'll
  use a <strong>patented super-secret formula</strong> to give your session
  an overall score, based on the number of climbs, the height of each climb
  and the grading of the route. And you can watch that score improve over
  time, as your climbing gets better!
</p>

<p>
  Sounds pretty interesting, right? Well that's about as far as I've
  got so far! I've got a basic data model mapped out, and I've got a wee
  database of my own climbing sessions to start playing with. The next step is
  to knock up a wee application that will allow me to easily record sessions.
</p>

<p>
  Actually, that's not the <em>really</em> interesting idea. The big 'un is
  about using indoor location technology and telemetry data from your
  phone/watch to automatically assess your climbing performance and provide
  training feedback. But that's a much bigger project, and I need some major
  help with it! (If you're up for getting involved in that, drop me an email to
  <%= mail_to_link %>!)
</p>

<%= partial 'mailing_list.html' %>

<%= partial 'sharing' %>
