---
title: 'How I Code: A conversation on the art and craft of software development'
layout: coming_soon
category: Software Development
tags:
  - Development
  - Podcast
  - Productivity
  - Software
  - Sustainability
  - Methodologies
---
<h2>Coming Soon&hellip;</h2>

<p>
  Everyone's got their own preferences for writing code. I'm not just
  talking about text editors and fonts (though they're important). I want
  to go on a holistic exploration of how developers write code in a
  sustainable, enjoyable way. I want to hear about their physical
  environment; the tools they use for development; the SaaS apps they use
  to make their lives easier; the productivity methodologies they
  subscribe to; how they balance work and life; and what they do when they're not at the computer.
</p>

<p>
  I think that documenting this bigger picture will give us a greater
  insight into what makes for an awesome developer, how we can lead
  more sustainable lives, and how these people tick.
</p>

<p>
  Sounds pretty interesting, right? Well that's about as far as I've
  got so far! I think a podcast would be a good format, and I've got an
  outline of the sorts of questions I'd like to ask. Now I'm looking
  for tame volunteers to interview! If you'd be up for being
  interviewed, shoot me an email to
  <%= mail_to_link subject: 'How I Code: Interview me!' %>
  or send me a message via the chat thing in the bottom right corner.
</p>

<%= partial 'mailing_list.html' %>

<%= partial 'sharing' %>
