---
title: Subscription Confirmed!
layout: coming_soon
---
<h2>Subscription confirmed</h2>

<p>
  That's your subscription to the mailing list successfully processed and
  confirmed and all that jazz. Thank you so much for showing an interest, it
  really means a lot to me! Hopefully you'll find this to be an entertaining
  and useful collection of podcasts over the next few years. :)
</p>

<%= partial 'sharing' %>

<p>(This is the last time I'll bug you about it, at least until the next email update!)</p>
