---
title: Thank you for signing up!
layout: coming_soon
---
<p>
  Thank you for signing up to the mailing list! You'll get a wee email
  from Mailchimp shortly, just to confirm your email address. Click the
  button in that email, and you're all set!
</p>

<%= partial 'sharing' %>
